.friend {
  background-color: gray;
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
}

.friends-name {
  align-self: center;
}

.friends-suggestions {
  background-color: rgb(71, 71, 71);
  position:absolute;
  z-index: 1;
}

.friends-dropdown {
  position: relative;
  display: inline-block;
}

.friend-entry {
  border: 1px solid #ddd;
  width: 255px;
}

.friend-search {
  margin-top: 20px;
  width: 250px;
}